* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    display: inline-block;
}
i {
    margin-right: 10px;
}
.row {
    display: flex;
    align-items: center;
}
.border-small {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header {
    background-color: #ffba00;
}
header i {
    color: rgb(77, 77, 77);
}
header a {
    color: rgb(77, 77, 77);
}
.header-top {
    margin-left: 30px;
}
.header-top > ul > li {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
}
header > div {
    justify-content: space-between;
    padding: 0px 0ps 30px 10px;
    margin-bottom: 5px;
    gap: 5px;
}
.header-bottom {
    padding: 5px 30px;
}
.header-bottom > ul > li {
    display: inline-block;
}
.sub-menu label:hover {
    color: rgb(119, 119, 119);
}
.sub-menu > ul {
    display: none;
}
label {
    user-select: none;
}
.sub-menu input {
    display: none;
}
.sub-menu input:checked + ul {
    display: inline-block;
    position: absolute;
    top: 40px;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.sub-menu input:checked + ul li a {
    display: inline-block;
    padding: 10px 20px;
}
.sub-menu input:checked + ul li {
    text-align: center;
    border-bottom: 1px solid rgb(199, 199, 199);
}
.sub-menu input:checked + ul li:last-child {
    border: none;
}
.sub-menu input:checked + ul li:hover {
    background-color: rgb(167, 167, 167);
}
.header-top .sub-menu input:checked + ul {
    right: 5px;
    width: 150%;
}
.menu-seller {
    background-color: aliceblue;
    border-bottom-left-radius: 10px;
}
.header-bottom {
    text-align: center;
}
.header-bottom img {
    max-height: 30px;
}
.header-bottom form, .header-bottom input {
    flex-grow: 1;
    background-color: aliceblue;
}
.menu-category {
    position: relative;
    padding: 0px 20px;
}
.header-bottom .sub-menu input:checked + ul {
    left: 0px;
    width: 300%;
}
.header-search input {
    border: none;
    outline: none;
    padding: 5px;
}
.header-search button {
    background-color: #ffba00;
    margin: 5px;
    padding: 5px;
    border: none;
}
.new-post {
    background-color: #f57600;
    padding: 10px 20px;
}
.new-post a {
    color: aliceblue;
    text-transform: uppercase;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    margin-left: auto;
    margin-right: auto;
}
.product-items {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: beige ;
    margin: 5px;
}
.content > input {
    display: none;
}
.content input:checked ~ div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.content input:checked ~ div > a {
    display: block;
    text-align: center;
    max-width: 20%;
}
.content .label-view {
    display: inline-block;
    height: 40px;
    padding: 10px 20px;
    background-image: url(https://static.thenounproject.com/png/650045-200.png);
    background-color: bisque;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}
.content input:checked + .label-view {
    background-color: bisque;
    background-image: url(https://cdn2.iconfinder.com/data/icons/most-useful-icons-4/50/GRID-512.png);
}

.slider-element {
    margin-top: 50px;
}
.slider-element input {
    display: none;
}
.slider-element div:first-child {
    display: flex;
}
.slider-button {
    padding: 10px 20px;
    background-color: bisque;
}
.slider-element input:checked + .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.slider-element .slide {
    display: none;
}